
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto',sans-serif;
}

html{
    
scroll-behavior: smooth;
}

header{
    background-color: rgb(247, 200, 208);
    display: flex;
    padding: 1rem ;
    align-items:flex-start;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem;
}

body{
    padding: 3rem;
    align-items: center;
}

section{
    padding: 3rem, 7%;
    margin: 2rem;
} 

a{
    padding: 1rem;
    font-size: 1.5rem;
}


#formID{
    text-align: center;
    align-items:center;
    padding: 1rem;
    background-color: rgb(253, 229, 233);
    font-size: 1.5rem;
}

select,button{
    align-items:center;
    font-size: 1rem;
}


div{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    background-color:rgb(171, 139, 145);
    text-align: center;
}

#myMain{
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    top: 0;
    right: 0;
    left: 0;
    background-color:rgb(224, 205, 209);
    padding: 2rem;
}



footer{
    background-color: rgb(247, 200, 208);
    padding: 1rem ;
    text-align:center;
    padding: 2rem;
}

